---
import { getFileSlug } from "@src/utils/fileSlug";
import Button from "../Button.astro";
import Markdown from "../Markdown.astro";
const { title, leftColumn, rightColumn, link, linkLabel } = Astro.props;
---

<section class="columns">
  <h2>{title}</h2>
  <div class="columns__grid">
    <div><Markdown content={leftColumn} /></div>
    <div><Markdown content={rightColumn} /></div>
  </div>
  {
    link && linkLabel && (
      <Button name={linkLabel} link={getFileSlug(link)} alt />
    )
  }
</section>

<style lang="scss">
  @import "../../styles/_vars.scss";

  .columns {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $gutter;
    &__grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: $gutter-large;
    }
  }

  @media (max-width: $breakpoint) {
    .columns__grid {
      grid-template-columns: 1fr;
    }
  }
</style>
