---
import { getEntry } from "astro:content";
const { data: social } = await getEntry("socialMedia", "socialmedia");
const { tel, email } = Astro.props;
---

<div class="header__topbar">
  <div class="header__contact">
    <span><img src="/icons/phone.svg" alt="phone" />{tel}</span>
    <span>
      <a href={`mailto:${email}`}
        ><img src="/icons/mailto.svg" alt="mail" />{email}</a
      >
    </span>
  </div>
  <div class="header__social">
    <span>
      <a href={social.instagram} target="_blank" rel="noopener noreferrer"
        ><img src="/icons/instagram.svg" alt="Instagram" /></a
      >
    </span>
    <span>
      <a href={social.linkedin} target="_blank" rel="noopener noreferrer"
        ><img src="/icons/linkedin.svg" alt="LinkedIn" /></a
      >
    </span>
    <span>
      <a href={social.facebook} target="_blank" rel="noopener noreferrer"
        ><img src="/icons/facebook.svg" alt="Facebook" /></a
      >
    </span>
  </div>
</div>

<style lang="scss">
  @import "../styles/_vars";

  .header__topbar {
    background-color: $color-main;
    padding: 0.2rem $margin;
    display: flex;
    height: 1.6rem;
  }

  .header__contact {
    flex: 1;
    display: flex;
    a,
    span {
      margin-right: 2rem;
      color: $color-white;
      font-size: 0.8rem;
    }
    img {
      width: 16px;
      margin-right: 0.5rem;
      vertical-align: bottom;
    }
  }

  .header__social {
    display: flex;
    align-items: center;
    a {
      height: 100%;
      display: block;
      margin-left: 1em;
    }
    img {
      width: 16px;
      vertical-align: middle;
    }
  }

  @media (max-width: $breakpoint) {
    .header__topbar {
      display: none;
    }
  }
</style>
